.row-fluid
  %h1
    Cause: #{@cause[:label]}
    %span.small [#{@cause[:name]}]

  %p #{@cause[:desc]}

  %section
    %h1 Top Donors

    %ul
      - for value in @values
        %li
          %a{ href: "/donors/#{value[:username]}" }= value[:username]
          (#{value[:value]} &euro;/c donated)
