.page.row-fluid.highlight
  .span7.page-left.blank
    .row-fluid
      %h1
        #{@donor[:username]}
        %small.muted
          Donator
      .hr

      %p
        Rank:
        %span.rank 1st
        %span on #{Donor.all.count} total donors
      %p Total donations: #{@donor[:value_total] || 0} Euro
      // %p First donation on: Jan 26, 2014

      %h2 Causes donated to:

      - for cause in @causes
        %p #{cause[:label]}: #{cause[:value]}      


  .span3.page-right.blank
    .row-fluid
      .row-fluid
        %h4.muted
          %i.fa.fa-angle-down.muted
          More about
        .hr
        = haml :_infos_main
        .separator15


.row-fluid
  %p Do you have a cause / project you want to register? Are you a charity/onlus/ngo?
  .hr
  .separator15
  %a.row-fluid.centered-content.btn.btn-medium.btn-primary{ href: "/causes/register" }
    %i.fa.fa-pencil
    Register a Cause
