.row-fluid
  .separator15
  %h1.slogan
    Let your computer donate money for a Cause!
  %h2.centered-content.muted
    %i.fa.fa-bitcoin
      e-coin mining based donation system
  .separator15
  .centered-content
    %img{ src: "/img/screenshots/donacoin.png" }
    %p
      V
    %p
      %strong
        You donate some of your CPU-time > 5-50 &euro; cent / day donated to the Cause you choose!
    %p
      Does it seems a small amount? Multiply it for 10, 100, 1000!
    %p
      %strong
        Donate Together!

  .separator30
.hr
.row-fluid
  .span7
    = haml :_download
    %h3 Top causes
    .causes
      - for cause in @causes[0..4]
        .cause
          %a{ href: "/causes/#{cause[:name]}" }
            = cause[:label]
          %p= cause[:desc]
      .clear
  .span3.highlight
    .row-fluid
      .row-fluid
        %h2.muted
          %i
            More about Donacoin
        .hr
        = haml :_infos_main



