.row-fluid
  .separator15
  %h1.slogan
    Let your computer donate money for a Cause!
  %h2.centered-content.muted
    %i.fa.fa-bitcoin
      e-coin mining based donation system
  .separator15
  .centered-content
    %img{ src: "/img/screenshots/donacoin.png" }
    %img{ src: "/img/screenshots/donacoin2.png" }
  .separator30
.hr
.row-fluid
  .span7
    = haml :_download
    %h3 Top causes
    .causes
      - for cause in @causes
        .cause
          %a{ href: "/causes/#{cause[:name]}" }
            = cause[:name]
          %p= cause[:desc]
      .clear
  .span3.highlight
    .row-fluid
      .row-fluid
        %h2.muted
          %i
            More about Donacoin
        .hr
        = haml :_infos_main



